{% extends "layout.html" %}

{% block content %}

<script>
    let question = {{question|tojson}}
    let topic = {{topic|tojson}}
    let position = {{position|tojson}}
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'gptquestion.js') }}"></script>
    <body>
        <div id = "listtitle"></div>
        <div id="quest"></div>
        <div class="question3">
            <div>Please type a few keywords/phrases you would like to have in the response to this question. The more you input, the more personalized the response will be! <input type="text" id="keywords"> <button id="q3">Submit</button></div>
        </div>
        <div class = "load"></div>
    </body>



{% endblock %}