{% extends "layout.html" %}

{% block content %}


<script type="text/javascript" src="{{ url_for('static', filename = 'home_page.js') }}"></script>

    <body>
        <div class="container1">
            <div id="title">
                Interview Prepper!
            </div>
            <div id="subtext">
                Best resource to prepare for any of your job interviews, using the help of the powerful GPT-3 Tool. Get ready to input some basic information about your upcoming interviews and let us do the rest!
            </div>
            <div id = "imghomepage"><img src = "https://assets-global.website-files.com/61a05ff14c09ecacc06eec05/61f5a51786ca3a4b5fc5689e_How_to_Take_Good_Interview_Notes_Blog-Header-01.png" width="800" height="450"></div>
        </div>
        <div class="start">
            <button class="button" id="start">Start Prepping!</button>
        </div>
    </body>

{% endblock %}